<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket.io Chat</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link your CSS file -->
</head>

<body>
    <main>
        <article id="chat-center">
            <form action="/start" method="POST">
                <input id="username" type="text" placeholder="Enter your username" name="username">
                <button id="userJoin">Start</button>
            </form>
        </article>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</body>

</html>